.content-child {
    height: 1180px;
    width: 1339px;
    position: absolute;
    margin: 0 !important;
    top: -296.5px;
    right: -727.5px;
    filter: blur(50px);
    border-radius: 50%;
    background: radial-gradient(50% 50%at 50% 50%, #ff9595, #fff1f1);
  }
  .blank-line,
  .our-lady-of {
    margin: 0;
  }
  .httpsollcfeduph1 {
    text-decoration: underline;
  }
  .httpsollcfeduph {
    color: inherit;
  }
  .for-more-information-about-our {
    margin: 0;
  }
  .our-lady-of-container {
    width: 612px;
    position: relative;
    font-weight: 500;
    display: inline-block;
    flex-shrink: 0;
    max-width: 100%;
    max-height: 616px;
    word-break: break-word;
    z-index: 1;
  }
  .content,
  .main {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
  }
  .content {
    flex-direction: row;
    position: relative;
  }
  .main {
    flex-direction: column;
    padding: 218.5px 0 0;
    box-sizing: border-box;
    min-width: 612px;
  }
  .about,
  .home,
  .ollcf {
    position: relative;
    display: inline-block;
    z-index: 3;
  }
  .ollcf {
    min-width: 78px;
    white-space: nowrap;
  }
  .about,
  .home {
    min-width: 35px;
  }
  .about {
    min-width: 37px;
  }
  .about-button {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 0 38px 0 41px;
  }
  .white-line-child {
    align-self: stretch;
    height: 5px;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    flex-shrink: 0;
  }
  .about-link,
  .white-line {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    box-sizing: border-box;
  }
  .white-line {
    align-self: stretch;
    height: 20px;
    align-items: flex-start;
    padding: var(--padding-3xs);
  }
  .about-link {
    width: 119px;
    align-items: flex-end;
    padding: 0 3px 0 0;
  }
  .strands {
    position: relative;
    display: inline-block;
    min-width: 47px;
    z-index: 3;
  }
  .strands-link {
    width: 88px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .contact-us {
    position: relative;
    display: inline-block;
    min-width: 66px;
    white-space: nowrap;
    z-index: 3;
  }
  .nav-links,
  .navigation {
    display: flex;
    align-items: flex-start;
  }
  .nav-links {
    margin: 0;
    align-self: stretch;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    text-align: center;
    font-size: var(--font-size-xs);
    color: var(--color-mistyrose);
    font-family: var(--font-inter);
  }
  .navigation {
    width: 545px;
    flex-direction: column;
    justify-content: flex-start;
    padding: 7px 0 0;
    box-sizing: border-box;
    max-width: 100%;
  }
  .card-media,
  .header {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--color-rosybrown);
  }
  .header {
    width: 100%;
    margin: 0 !important;
    right: 0;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 31px var(--padding-3xs) 0;
    box-sizing: border-box;
    gap: 360px;
    max-width: 100%;
    z-index: 2;
    text-align: left;
    font-size: 24px;
    color: var(--color-mistyrose);
    font-family: var(--font-inter);
  }
  .card-media {
    width: 840px;
    height: 1168px;
    z-index: 1;
  }
  .about-senior-high {
    position: absolute;
    top: 460px;
    left: 40px;
    font-weight: 800;
    display: inline-block;
    width: 608px;
    height: 98px;
    z-index: 2;
  }
  .card-media-parent {
    height: 1024px;
    flex: 1;
    position: relative;
    min-width: 468px;
    max-width: 100%;
    text-align: center;
    font-size: 48px;
    color: var(--color-mistyrose);
  }
  .about-page {
    width: 100%;
    position: relative;
    background-color: var(--color-mistyrose);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 0 0 60px;
    box-sizing: border-box;
    gap: 47.5px;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    font-size: 36px;
    color: #000;
    font-family: var(--font-inter);
  }
  @media screen and (max-width: 1125px) {
    .main {
      flex: 1;
    }
    .about-page {
      flex-wrap: wrap;
      padding-left: var(--padding-xl);
      padding-right: var(--padding-xl);
      padding-bottom: var(--padding-xl);
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 1050px) {
    .our-lady-of-container {
      font-size: var(--font-size-10xl);
    }
    .main {
      padding-top: 142px;
      box-sizing: border-box;
    }
    .header {
      gap: 180px;
    }
    .about-senior-high {
      font-size: 38px;
    }
  }
  @media screen and (max-width: 750px) {
    .main {
      min-width: 100%;
    }
    .nav-links {
      display: none;
    }
    .navigation {
      width: 0;
    }
    .header {
      gap: 90px;
    }
    .card-media-parent {
      min-width: 100%;
    }
    .about-page {
      gap: 24px;
    }
  }
  @media screen and (max-width: 450px) {
    .our-lady-of-container {
      font-size: 22px;
    }
    .main {
      padding-top: 92px;
      box-sizing: border-box;
    }
    .header {
      gap: 45px;
    }
    .about-senior-high {
      font-size: var(--font-size-10xl);
    }
  }

  body {
    margin: 0;
    line-height: normal;
  }
  
  :root {
    /* fonts */
    --font-inter: Inter;
  
    /* font sizes */
    --font-size-10xl: 29px;
    --font-size-xs: 12px;
  
    /* Colors */
    --color-mistyrose: #ffdcdc;
    --color-rosybrown: #c17b7b;
  
    /* Paddings */
    --padding-xl: 20px;
    --padding-3xs: 10px;
  }